html {
    height: 100%;
    width: 100%;
    background-color: rgb(27,27,36);
  }
  
  * {
    margin: 0;
  }
  
  section {
    border: 1px solid red;
    color: white;
    }
  
  body {
    display: grid;
    grid-template-columns: 20vw 38.5vw 38.5vw;
    grid-template-areas: "sidebar about about"
                         "sidebar projects projects"
                         "sidebar projects projects"
                         "sidebar references references";
    height: 97vh;
    width: 97vw;
    margin: 2vh 1vw;
    }
  
  #sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 97vh;
    width: 18vw;
    position: fixed;
    }
  
  #sidebar > * {
    border: 1px solid red;
  }  
  
  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    gap: 1.5vh;
    padding-top: 2vh;
    background-color: rgb(37,37,49);
  }
  
  #title > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  #location {
    height: 75px;
    display: grid;
    grid-template-columns: 8vw 8vw;
    grid-template-rows: 2.5vh 2.5vh 2.5vh;
    align-items: center;
    margin:  .5vh .5vw;
    padding-left: .5vw;
  }
  
  
  .q {
    text-align: start;
  }
  
  .a {
    text-align: end;
  }
  
  #skills > ul {
    display: flex;
    align-items: center;
    padding: 0%;
    list-style: none;
    gap: 1vw;
    margin: 2vh 0;
    padding-left: 1vw;
  }

  #additional {
    height: 20vh;
  }
  
  #additional > ul {
    list-style-image: url(custom-dot.svg);
    padding-left: 7rem;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
  }

  #additional > ul > li {
    font-size: large;
  }

  #education {
    height: 25vh
  }
  
  
  
  #about {
    grid-area: about;
  }
  
  #projects {
    grid-area: projects;
  }
  
  #education {
    grid-area: education;
  }
  
  #references {
    grid-area: references;
  }
  
  